In [1]:
name = "Sarvesh"
place = "Navi Mumbai"

In [5]:
print("My name is ",name,"I am from ",place)

My name is  Sarvesh I am from  Navi Mumbai

In [6]:
 kg_to_pound = 2.20462

In [10]:
# Sarvesh wrote this code 
#weight in kg
weight_kg = 50
#weight in pound
weight_pound= weight_kg*kg_to_pound
print(weight_kg)
print(weight_pound)

50
110.231

In [11]:
y="10"
z="20"
x=y+z
print(x)

1020

In [13]:
first_name ="Sarvesh"
last_name = "Patil"
full_name = first_name+" "+last_name
print(full_name)

Sarvesh Patil

In [14]:
discount = 20
if discount>25:
    print("Lets go shopping")
else:
    print("Lets wait for SALE")

Lets wait for SALE

In [17]:
## if discount > 25 : I will spend all my money 
## if discount >15 : I will spend money later 
## else : I will not spend money
                              
discount = 30

if discount > 25:
    print("I will spend all my money")
elif discount>15:
    print("I will spend all my money later and go broke")
else :
    print("I will not go shopping")

I will spend all my money

In [19]:
profession = "Data Scientist"
# Data Engineer
# Full Stack Dev
if profession== "Data Scientist":
    print("I make predictive models") # Data Scientist
elif profession == "Data Engineer":
    print(" I make data pipeline") # Data Engineer
elif profession == "Full Stack Dev":
    print(" I make web apps") # Full Stack Dev

I make predictive models

In [1]:
x=10
print(type(x))
print(x*10)

<class 'int'>
100

In [7]:
x=1
while x<=10:
    print("Let's Go !")
    x=x+1
print("Out of loop")

Let's Go !
Let's Go !
Let's Go !
Let's Go !
Let's Go !
Let's Go !
Let's Go !
Let's Go !
Let's Go !
Let's Go !
Out of loop

In [8]:
numbers = [50,69,45,78,100,125,35,28]
print(type(numbers))
friends = ["Rohit","Kunal","Shekhar","Soumya"]
print(type(friends))

<class 'list'>
<class 'list'>

In [11]:
length = len(numbers)
print(length)

8

In [13]:
smallest_number = 99999
for number in numbers :
    if(number < smallest_number):
        smallest_number=number
print("Smallest Number is ",smallest_number)

Smallest Number is  28

In [20]:
places =["Delhi","Mumbai","Paris", "New York" ,"LA"]
my_fav_place = "Mumbai"
for place in places:
    if my_fav_place == place:
        print("I am going to ",place)
        break
    elif place== "Delhi":
        print("I have found Delhi")
        continue
    else:
        print("I will keep searching",place)

I have found Delhi
I am going to  Mumbai

In [21]:
for number in numbers:
    if number>50:
        print(number)

69
78
100
125

In [26]:
count =0
for number in numbers:
    count+=1
print(count)

8

In [1]:
DOB = input("Enter your date of birth : ")
print(DOB)

Enter your date of birth : 26/09/2002
26/09/2002

In [7]:
# input inbuilt func will always return string value

num1= input("Enter first number : ")
num1=int(num1)
num2 = input("Enter second number : ")
num2 = int(num2)
sum =num1+num2
print("Sum of numbers is : ",sum)

Enter first number : 5
Enter second number : 10
Sum of numbers is :  15

In [9]:
price = input("Enter price : ")
price= float(price)
discount = 10
discount_price = price - (discount/100)*price
print("Discount price is : ", discount_price)

Enter price : 100
Discount price is :  90.0

In [15]:
total_price =0
x=1
while(x != 0):
    price= input("Enter the actual price : ")
    price = float(price)
    dis_price = 0.9 * price
    print("The discounted price is",dis_price)
    total_price += dis_price
    check=input("Enter Stop/Continue : ")
    if check == "Stop":
        break
    
print("Total bill is : ",total_price)

Enter the actual price : 50
The discounted price is 45.0
Enter Stop/Continue : 40
Enter the actual price : 50
The discounted price is 45.0
Enter Stop/Continue : Stop
Total bill is :  90.0

In [16]:
def greeting():
    print("Hello to the world of python")

In [17]:
greeting()

Hello to the world of python

In [28]:
def get_discount_price(price,discount):
    price=float(price)
    discount=float(discount)
    discounted_price= price - (discount/100)*price
    return discounted_price
output= get_discount_price(100,10)
print("Discounted price is : ",output)

Discounted price is :  90.0

In [27]:
# price=input("Enter price :")
# discount=input("Enter Discount : ")
output= get_discount_price(100,10)
print("Discounted price is : ",output)

Discounted price is :  90.0

In [21]:
num = input("Enter a number :")
if(num.isdigit() == False):
    print("Invalid input")

else:
    num = int(num)
    if(num > 0):    
        
        count=0
        while(True):
            sum=0
            if(num<10):
                break
            else:
                while(num>0):
                    sum += int(num%10)
                    num = int(num/10)
    
            count+=1
            num=sum
    
        print(count)
        
    else:
        print("Invalid input")

Enter a number :66666666
3